/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,300,400,500,700,900");
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 15px;
  line-height: 25px;
  color: rgba(0,0,0,.75);
}


/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
  background: #fff;
  font-family: "Work Sans", sans-serif;
}

::selection {
  background: #22ca79;
  color: #fff;
}

::-moz-selection {
  background: #22ca79;
  color: #fff;
}

img{
  border-radius: 10px;
}

a.main-button-slider {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #252525;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button-slider:hover {
  background-color: #0088e8;
}

a.main-button {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #00b4c6;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button:hover {
  background-color: #0088e8;
}

button.main-button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #252525;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

button.main-button:hover {
  background-color: #0088e8;
}

.section-heading p {
  font-size: 17px;
  color: #777;
  text-align: center;
}

/* 
---------------------------------------------
header
--------------------------------------------- 
*/

.dot {
  height: 10px;
  width: 10px;
  background-color: #22ca79;
  border-radius: 50%;
  display: inline-block;
}

.background-header {
  background-color: #fff;
  height: 80px !important;
  position: fixed !important;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}

.background-header .logo,
.background-header .main-nav .nav li a {
  color: #1e1e1e !important;
}

.background-header .main-nav .nav > li:hover > a {
  color: #22ca79 !important;
}

.background-header .main-nav .nav > li > ul > li:hover > a {
  color: #252525 !important;
}

.background-header .nav li a.active {
  color: #252525 !important;
}

.header-area {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header-area .main-nav {
  min-height: 80px;
  background: transparent;
}

.header-area .main-nav .logo {
  line-height: 80px;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: left;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .nav {
  float: right;
  margin-top: 27px;
  margin-left: 20px;
  margin-right: 0px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 25px;
  padding-right: 25px;
}

.header-area .main-nav .nav li:last-child {
  padding-right: 0px;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 15px;
  color: #252525;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

.header-area .main-nav .nav li:hover a {
  color: #22ca79;
}

.header-area .main-nav .nav li.submenu {
  position: relative;
  padding-right: 35px;
}

.header-area .main-nav .nav li.submenu:after {
  font-family: FontAwesome;
  content: "\f107";
  font-size: 12px;
  color: #252525;
  position: absolute;
  right: 18px;
  top: 12px;
}

.header-area.background-header .main-nav .nav li.submenu:after {
  color: #000;
}

.header-area .main-nav .nav li.submenu ul {
  position: absolute;
  width: 200px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  top: 40px;
  opacity: 0;
  transform: translateY(-2em);
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
    z-index 0s linear 0.01s;
}

.header-area .main-nav .nav li.submenu ul li {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.header-area .main-nav .nav li.submenu ul li a {
  display: block;
  background: #fff;
  color: #3b566e;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 13px;
  border-bottom: 1px solid #f5f5f5;
}

.header-area .main-nav .nav li.submenu ul li a:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 40px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #252525;
}

.header-area .main-nav .nav li.submenu ul li a:hover {
  background: #fff;
  color: #22ca79;
  padding-left: 25px;
}

.header-area .main-nav .nav li.submenu ul li a:hover:before {
  width: 3px;
}

.header-area .main-nav .nav li.submenu:hover ul {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #fff;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #fff;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #fff;
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #fff;
}

.background-header .main-nav .menu-trigger.active span:after {
  background-color: #1e1e1e;
}

.header-area.header-sticky {
  min-height: 80px;
}

.header-area.header-sticky .nav {
  margin-top: 20px !important;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 40px;
    padding-right: 40px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 991px) {
  .welcome-area .header-text {
    top: 55% !important;
    transform: perspective(1px) translateY(-50%) !important;
    text-align: center;
  }
}


/* 
---------------------------------------------
welcome / social
--------------------------------------------- 
*/
#welcome {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 46vh;
}

.welcome-area .header-text {
  position: absolute;
  top: 55%;
  transform: translateY(-60%);
  text-align: left;
  width: 100%;
}

.welcome-area .header-text .left-text {
  align-self: center;
}

.welcome-area .header-text h1 {
  font-weight: 500;
  font-size: 40px;
  color: #252525;
  line-height: 60px;
  margin-bottom: 10px;
}

.dot-underline a, .dot-underline a:visited{
  color: #252525;
  border-bottom: 2px dashed #252525;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.dot-underline a:hover{
  text-decoration:none;
  border-bottom: 2px dashed #22ca79;
  color:#22ca79;
}

.welcome-area .header-text p {
  font-weight: 400;
  font-size: 25px;
  color: #888888;
  line-height: 35px;
  position: relative;
}

.social {
  overflow: hidden;
  text-align: left;
}

.social li {
  margin: 0px 5px;
  display: inline-block;
}


.social .fa-github, .social .fa-envelope, .social .fa-linkedin{
  color: #252525;
  text-align: center;
  display: inline-block;
  font-size: 34px;
  padding: 10px;
  margin: 10px;
  transition: all .3s ease-out;
}

.social .fa-github{
  padding-left: 0px;
  margin-left: 0px;
}

.social .fa-envelope{
  font-size: 28px;
}

.social .fa-linkedin{
  font-size: 30px;
}

.social .fa-github:hover, .social .fa-envelope:hover, .social .fa-linkedin:hover {
  -webkit-transform: translate(0px,-7px);
  -moz-transform: translate(0px,-7px);
  -ms-transform: translate(0px,-7px);
  -o-transform: translate(0px,-7px);
  transform: translate(0px,-7px);
}

/*
---------------------------------------------
work
---------------------------------------------
*/

#work {
  border-bottom: 1px solid #eee;
  padding-bottom: 150px;
}

#work img{
  height: 400px;
  object-fit: cover;
  box-shadow: 0 -2px 16px 0 rgba(0, 0, 0, 0.09);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 93.6%;
  opacity: 0;
  transition: .5s ease;
  padding: 40px;
  background-image: linear-gradient(145deg, #ffffff 0%, #e2e2e2 100%);
}

#work .col-6:hover .overlay {
  opacity: 0.95;
}

.overlay-detail{
  padding: 10px;
}

.overlay-title {
  font-weight: 600;
  font-size: 28px;
}

.overlay-role p{
  color:white;
  background-color: #22ca79;
  border-radius: 2px;
  font-size: 13px;
  padding: 5px;
  line-height: 12px;
  font-weight: 500;
}

.overlay-time {
  font-size: 12px;
  color: #9c9c9c;
  padding-bottom: 5px;
}

.overlay-text p{
  padding-top: 10px;
  font-size: 14px;
  opacity: 1;
}
/* 
.depco .overlay{
  background-color: #F4E4EB;
} */

.cornellsun .overlay{
  width: 95%;
}
.nc .overlay{
  width: 95.1%;
}

.fitm8 .overlay{
  width: 92.9%;
}

.instagram .overlay {
  width: 94.8%;
}

/*
---------------------------------------------
about / image
---------------------------------------------
*/

#about {
  border-bottom: 1px solid #eee;
  padding-bottom: 100px;
}

#about .underline{
  position: relative;
  color: #22ca79;
  font-weight: 500;
}

#about .underline:before {
content: "";
position: absolute;
width: 0;
height: 2px;
bottom: 0px;
left: 0;
bottom: -5px;
background-color: #22ca79;
visibility: hidden;
transition: all 0.3s ease-in-out;
}

#about .underline:hover:before {
visibility: visible;
width: 100%;
}

#about h2{
  padding-bottom: 10px;
  font-size: 28px;
  line-height: 2em;
  color: #252525;
}

#about p{
  padding-bottom: 24px;
  padding-left: 5px;
  font-size: 17px;
  line-height: 1.8em;
  color: #252525;
}

#image img{
  height: 400px;
  width: 540px;
  object-fit: cover;
}

.image-area .header-text {
  width: 100%;
  padding-top: 11vh;
}

.fa-arrow-right{
  padding-left: 5px;
  font-size: 15px;
}

/*
---------------------------------------------
archive
---------------------------------------------
*/

#archive h1{
  font-size: 27px;
  line-height: 1em;
  font-weight: 500;
  color: #252525;
}

#archive p{
  font-size: 18px;
  line-height: 2em;
  color: #252525;
}

.archive-area .header-text {
  width: 100%;
  padding-top: 3vh;
  padding-bottom: 40px;
}

#project{
  border-bottom: 1px solid #eee;
  padding-bottom: 100px;
}

#project h3{
  text-transform: uppercase;
  font-size: 17px;
  color: #22ca79;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-top: 20px;
}

.project{
  width: 100%;
  height: 300px;
  display: inline-block;
  box-shadow: 0 -2px 16px 0 rgba(0, 0, 0, 0.09);
  cursor: pointer;
  -webkit-transition:all .2s ease-out;
  transition:all .2s ease-out;
  cursor: pointer;
  padding: 25px;
}

.project:hover{
	-webkit-transform:translate(0px,-10px);
  -moz-transform:translate(0px,-10px);
  -ms-transform:translate(0px,-10px);
  -o-transform:translate(0px,-10px);
  transform:translate(0px,-10px);
}

.project-title{
  font-size: 20px;
  color: #5a5a5a;
  font-weight: 600;
  letter-spacing: 1px;
} 

.project-text{
  font-size: 15px;
  font-weight: 400;
  width: 95%;
} 

.project-time{
  font-size: 12px;
  padding-bottom: 7px;
  color: #919191;
}

.fa-desktop, .fa-gamepad, .fa-search{
  padding: 10px 10px 10px 0px;
  font-size: 20px;
}

.project .fa-github{
  padding: 0px;
  font-size: 25px;
  color: #a8a8a8;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.project .fa-link{
  padding-left: 20px;
  padding-top: 4px;
  font-size: 23px;
  color: #a8a8a8;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.project .fa-github:hover, .project .fa-link:hover{
  color: #22ca79;
}

/* 
---------------------------------------------
footer
--------------------------------------------- 
*/
footer {
  background-color: #fff;
  padding: 60px 0px;
}

footer .copyright {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: #4a4a4a;
  letter-spacing: 0.88px;
  text-transform: capitalize;
}

@media (max-width: 991px) {
  footer .copyright {
    text-align: center;
  }
  footer .social {
    text-align: center;
    margin-top: 15px;
  }
}