@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"); 
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap"); 

/* nav */
nav {
  float: right;
}

.nav{
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 40px;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin-top: 20px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  width: 105px;
  height: 49px;
  font-family: "Lato";
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-decoration: none;
  padding: 0 35px 0 35px;
}

.logo{
  width: 200px;
  height: 47px;
  font-family: "Cedarville Cursive";
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #22ca79;
  float: left;
  text-align: left;
  margin-left: 32px;
  vertical-align: text-top;
}

.how-uvebeen{
  width: 147px;
  height: 24px;
  object-fit: cover;
}

/* main */
main {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
}

.main-about {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}
 
.intro {
  padding-top: 160px;
  padding-bottom: 350px;
  display: flex;
  flex-direction: column;
}

.intro-one {
  font-family: "Lato";
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.22;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 0px;
}

.intro-two {
  font-family: "Lato";
  font-size: 60px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 30px;
}

.intro-three {
  font-family: "Lato";
  font-size: 25px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #6c6c6c;
  margin-bottom: 0px;
}

.work{
  margin-bottom: 250px;
  display: flex;
}

.work-img{
  width: 700px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.work-info{
  margin-top: 15px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
}

.work-info .title {
  font-family: "Lato";
  font-size: 30px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 15px;
}

.work-info .period{
  font-family: "Lato";
  font-size: 17typx;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6c6c6c;
  margin-bottom: 30px;
}

.work-info .description{
  font-family: "Lato";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 20px;
}

.work-info .tags{
  font-family: "Lato";
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.21;
  letter-spacing: normal;
  color: #ffffff;
}

.project{
  padding-top: 80px;
}

.project-title{
  width: 100%;
  height: 70px;
  font-family: "Lato";
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #000000;
  text-align: center;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  position: relative;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 200px;
}

.project-info{
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: #22ca79;
}

.project-info p{
  font-family: "Lato";
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.21;
  letter-spacing: normal;
  color: #000000;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;
  margin: 20px;
}


.shortcut-logos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30px;
  position: fixed;
  right: 85px;
  bottom: 300px;
}

.shortcut-logos a{
  display: inline-block;
  cursor: pointer;
  -webkit-transition:all .3s ease-out;
  transition:all .3s ease-out;
  cursor: pointer;
}

.shortcut-logos a:hover{
	-webkit-transform:translate(0px,-7px);
  -moz-transform:translate(0px,-7px);
  -ms-transform:translate(0px,-7px);
  -o-transform:translate(0px,-7px);
  transform:translate(0px,-7px);
}

.github{
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin: 9px;
}

.linkedin{
  width: 32px;
  height: 20px;
  object-fit: cover;
  margin: 13px;
}

.email{
  width: 33px;
  height: 23px;
  object-fit: cover;    
  margin: 14px;
}
  
.line{
  border-right: 1px solid black;
  height: 290px;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 100px;
  bottom: 0px;
}

/* footer */

.copyright{
  width: 100%;
  height: 47px;
  font-family: "Lato";
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #000000;
  text-align: center;
}

footer{
  padding-bottom: 50px;
  padding-top: 200px;
}


/* about  */

.portraits {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  position: relative;
  gap: 30px;
  padding-top: 30px;
  margin-top: 120px;
}

.portrait{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.summary{
  width: 100%;
  font-family: "Lato";
  font-size: 19px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.90;
  letter-spacing: normal;
  color: #6c6c6c;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;
}

.summary p{
  width: 100%;
  padding-bottom: 30px;
}

.color-text{
    color: #22ca79;
}

.shortcut-logos-about{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: static;
  margin-bottom: 10px;
}

.shortcut-logos-about .github{
  width: 32.44px;
  height: 32.44px;
  object-fit: cover;
  margin: 30px;
}

.shortcut-logos-about .linkedin{
  width: 38.44px;
  height: 20.5px;
  object-fit: cover;
  margin: 30px;
}

.shortcut-logos-about .email{
  width: 38px;
  height: 26.91px;
  object-fit: cover;    
  margin: 30px;
}

/* responsive */

@media screen and (min-width: 300px) {
  main{
    padding: 0px 25px;
  }

  .work{
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  nav ul {
    /* hamburger */
  }  
}

@media screen and (max-width: 920px) {
  .work{
    flex-direction: column;
    margin-bottom: 200px;
  }

  .work-img{
    display: flex;
    width: 100%;
    height: auto;
  }

  .work-info{
    align-items: left;
    justify-content: left;
    padding-left: 5px;
  }
}

@media screen and (max-width: 1100px) {
  .line{
    display: none;
  }
  
  .shortcut-logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: static;
    margin-bottom: 10px;
  }

  .github{
    width: 32.44px;
    height: 32.44px;
    object-fit: cover;
    margin: 30px;
  }

  .linkedin{
    width: 38.44px;
    height: 20.5px;
    object-fit: cover;
    margin: 30px;
  }

  .email{
    width: 38px;
    height: 26.91px;
    object-fit: cover;    
    margin: 30px;
  }
}

